/* variables */
:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(/images/bg.jpg) ;
    width: 100%;
    height: 100%;
    /* overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    background: #299f8c;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #5b5858;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #605050;
}


/* navigation bar */
#navbar {
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
    padding: 10px 50px;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    height: 75px;
    width: 75px;
    /* margin-top: 10px;
    margin-left: 35px; */
    border-radius: 4px;
}

#menu {
    /* position: absolute;
    left: 50%;
    top: 3%; */
    list-style: none;
    display: flex;
    align-items: center;
}

#menu li {
    margin: 0 22px;
    font-size: 30px;
}

#menu li a {
    text-decoration: none;
    color: skyblue;
    /* transition: 1s; */
}

#menu li a:hover {
    text-decoration: underline;
    color: #fff;
    /* font-size: 29px; */
    /* font-family: monospace; */
}

.closebtn, .openbtn {
    display: none;
}

section {
    padding: 100px 0;
}


/* introduction css */
.site-header {
    /* background-color: #1bbc9b; */
    color: #299f8c;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #014638 2px 5px 5px;
}

.site-header-content {
    margin: 10px;
}

.site-header-content h1 {
    font-size: 30px;
    /* text-align: justify; */
    text-align: center;
}

.site-header-content h2 {
    font-size: 25px;
    /* text-align: justify; */
    text-align: center;
}

#more_about_me {
    font-size: 25px;
    font-family: monospace;
    background-color: #014638;
    border: 1px solid #014638;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
}
 
#more_about_me:hover {
    background-color: #5b5858;
    border: #5b5858;
    color: #ff8800;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


/* about me css */
#about_me {
    background-color: #0c816a;
    background-attachment: fixed;
}

#about_me h1 {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#about_me p {
    font-family: monospace;
    padding: 0 50px;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}


/* education css */
#education {
    /* background-color: rgb(60, 176, 138); */
    /* margin-top: -5.5rem; */
    background-attachment: fixed;
    /* background-color: #111; */
}

#education h1 {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#education div {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education div div {
    width: 300px;
    height: 250px;
    flex-direction: column;
    border-radius: 25px;
    margin: 0 15px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}

#education div div:hover {
    background-color: #068a70;
    color: #fff;
}

#education div div h3 {
    font-size: 25px;
    text-decoration: underline;
}

#education div div p {
    font-size: 20px;
}


/* skills css */
#skills {
    /* background-color: #299f8c; */
    background-color: #0c816a;
    background-attachment: fixed;
    height: 650px;
}

#skill {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills > .left {
    float: left;
    width: 55%;
    padding: 40px 55px;
    /* background-color: #873d3d; */
    color: #fff;
    font-family: monospace;
    font-size: large;
}

#skills > .left p {
    line-height: 25px;
}

#skills > .left > p a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 7px;
    border-radius: 7px;
}

#skills > .left > p a:hover {
    background-color: #893636;
    
}

#skills > .right {
    float: right;
    width: 45%;
    padding: 40px 60px;
    /* background-color: #945050; */
}

#skills > .right > ul {
    list-style: none;
    font-size: 25px;
    color: #fff;
}



/* projects css */
#projects {
    margin-top: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    /* background-color: #014638; */
    background-color: transparent;
    background-attachment: fixed;
}

#projects > h1 {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projects .size {
    height: 250px;
    width: 425px;
    /* margin: 15px 15px; */
    margin: 15px;
}


/* achievements css */
#achievements {
    /* display: none; */
    background-color: #0c816a;
    background-attachment: fixed;
    margin-top: 5rem;
    width: 100%;
}

#achievement {
    font-size: 40px;
    color: black;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#achievements > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#achievements > div div {
    background-color: black;
    margin: 0 20px;
    padding: 0 15px;
    border-radius: 25px;
    text-align: center;
    width: 25%;
    height: fit-content;
    cursor: pointer;
}

#achievements > div div:hover {
    background-color: #945050;
}

#achievements > div div h1 {
    text-decoration: underline;
    font-size: 30px;
    color: white;
}

#achievements > div div p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}


/* contact css */
#contact {
    /* background-color: #61958b; */
    /* margin-top: 4rem; */
}

#contact > h1 {
    font-size: 40px;
    /* padding-top: 25px; */
    /* margin-bottom: 15px; */
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.height-width{
    width: 150px;
    /* height: 0; */
    flex-direction: column;
    /* background-color: #d0b7b7; */
    /* border: 2px solid #014638; */
    /* border-radius: 25px; */
    margin: 0 10px;
}

.height-width h1 a{
    text-decoration: none;
    color: #5b5858;
}

.height-width h1 a:hover{
    text-decoration: underline;
    color: #945050;
}

hr {
    height: 5px;
    background-color: #014638;
}


/* footer */
.footer > p{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}


/* for desktop view */
@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    #logo {
        height: 60px;
        width: 60px;
    }
}


/* for mobile view */
/* @media screen and (max-width: 426px) { */
/* @media screen and (max-device-width: 480px) and (orientation: portrait) { */
@media screen and (max-device-width: 640px) {
    body {
        max-width: 100%;
        max-height: 100%;
    }


    /* navigation css */
    #navbar {
        background: transparent;
        position: absolute;
        /* position: fixed;
        overflow: hidden; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        padding: 0;
    }
    
    #logo {
        /* height: 60px;
        width: 60px; */
        border-radius: 3px;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: 20px; */
    }
    
    #menu {
        margin: 0;
        padding: 0;
        /* background-color: #36383F; */
        /* background-color: rgba(54, 56, 63); */
        background-color: rgba(54, 56, 63, 0.9);
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    #menu li a {
        color: #f9f9f9;
        font-family: monospace;
        font-size: 25px;
        transition: 0.3s;
    }
    
    .closebtn {
        display: block;
        color: #818181;
        text-decoration: none;
        position: absolute;
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .openbtn {
        display: block;
        position: fixed;
        padding: 0 5px;
        font-size: 30px;
    }


    /* introduction css */
    .site-header {
        text-align: center;
        margin-top: 3rem;
    }

    .site-header-content h1{
        font-size: 22px;
    }

    .site-header-content h2{
        font-size: 16px;
    }

    #more_about_me:hover {
        all: unset;
    }

    #more_about_me {
        all: unset;
        font-size: 20px;
        background-color: #014638;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
    }


    /* about me */
    #about_me {
        padding-top: 2rem;
    }

    #about_me h1 {
        font-size: 35px;
    }

    #about_me p {
        font-size: 15px;
        line-height: 25px;
    }
    

    /* education */
    #education {
        padding-top: 3rem;
    }

    #education h1 {
        margin-bottom: 2rem;
    }

    #education div {
        flex-direction: column;
    }

    #pg h3, #ug h3, #twelve h3, #tenth h3 {
        color: #ac5e5e;
        text-decoration: underline;
    }

    .mar {
        margin-top: 1px;
    }

    #education > h1, #projects > h1, #contact > h1 {
        font-size: 35px;
    }

    #education div div {
        width: 207px;
        height: 175px;
        margin-top: 50px;
    }

    #pg {
        margin-top: 0 !important;
    }
    
    #education div div:hover {
        background-color: transparent;
        color: transparent;
    }

    #education div div h3 {
        font-size: 20px;
    }
    
    #education div div p {
        font-size: 16px;
        color: #8f5b5b;
    }


    /* skills */
    #skills {
        all: unset;
        padding-top: 5rem;
        /* background-color: #014638; */
        background-color: #0c816a;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #skill {
        font-size: 35px;
    }

    #skills > .left, #skills > .right {
        width: 100%;
    }

    #skills > .left {
        padding: 30px;
        padding-top: 25px;
    }

    #skills .left h1 {
        font-size: 20px;
        line-height: 25px;
    }

    #skills p {
        font-size: 15px;
        line-height: 25px;
    }

    #skills > .left > p a {
        padding: 5px;
    }

    #skills > .right {
        padding: 30px;
        padding-top: 0;
        padding-left: initial;
    }

    #skills > .right > ul {
        font-size: 20px;
    }


    /* projects */
    #projects {
        margin-top: 0;
    }

    #project {
        margin-bottom: 4rem;
    }

    #projects .center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projects .size {
        width: 300px;
        height: 175px;
        margin: 10px 0;
    }


    /* achievements */
    #achievements{
        padding-top: 5rem;
    }
    
    #achievement {
        font-size: 35px;
    }

    #achievements > div {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    #achievements > div div {
        width: 75%;
        margin: 15px 0;
        padding: 0 5.5px;
    }

    #achievements > div div h1 {
        font-size: 25px;
    }

    #achievements > div div p {
        font-size: 18px;
    }


    /* contact */
    #contact {
        margin-top: 5rem;
        padding-top: 0;
    }

    #contact div {
        margin-top: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .height-width {
        width: fit-content;
        height: 40px;
        /* background-color: #299f8c; */
        margin: 2px 10px;
    }
    
    .height-width h1 {
        margin: 0;
        padding: 5px;
    }
    
    .height-width h1 a {
        font-size: 20px;
        color: #873d3d;
    }

    
    /* footer */
    .footer > p {
        font-size: larger;
    }
}